<!DOCTYPE html>
<html>
    <head>
        <title>Create Account</title>
    </head>
    <body>
        <form action="{% url 'account-create' %}" method="post">
            {% csrf_token %} <!-- Add this for CSRF protection in Django -->
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
    
            <input type="submit" value="Register">
        </form>
    </body>
</html>